@font-face {
    font-weight: 400;
    font-family: 'Weblyleek';
    font-style: normal;
    font-display: swap;
    src: url('/font/weblysleekuil.woff2') format('woff2');
}

@font-face {
    font-weight: 700;
    font-family: 'Weblyleek';
    font-style: normal;
    font-display: swap;
    src: url('/font/weblysleekuisb.woff2') format('woff2');
}