.header {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    background-color: var(--color-autumn-base);
    padding-top: 10px;
    padding-right: 40px;
    padding-bottom: 10px;
    padding-left: 40px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

@media (width < 1024px) {
    .header {
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
    }
}